@page
@model NewsClassification.Pages.RegisterModel
@{
}
    <div class="container">
        <div class="register-form">
            <h1>تسجيل</h1>
            <form action="#">
                <label for="username">اسم المستخدم:</label>
                <input type="text" id="username" name="username" placeholder="أدخل اسم المستخدم">
                <label for="email">البريد الإلكتروني:</label>
                <input type="email" id="email" name="email" placeholder="أدخل البريد الإلكتروني">
                <label for="password">كلمة المرور:</label>
                <input type="password" id="password" name="password" placeholder="أدخل كلمة المرور">
                <label for="confirm_password">تأكيد كلمة المرور:</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="أدخل تأكيد كلمة المرور">
                <button type="submit">تسجيل</button>
                <a href="#">تسجيل الدخول</a>
            </form>
        </div>
    </div>

