<!-- list Categores -->
@model IEnumerable<News_Project.Models.Category>
<table class="table table-borderd table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
        </tr>
    }
    
</table>

