@{
    ViewData["Title"] = "Home Page";
}

<h1>Index</h1>
<a href="/Category/New" class="btn btn-success">New Create</a>
<br />
<table class="table table-borderd table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <!-- Useful in Search News -->
            <td><a href="/Category/details/@item.Id">Deatils</a></td>
            <td><a href="/Category/Delete/@item.Id">Delete</a></td>
        </tr>
    }
</table>
<a href="/product/showproduct">PRoduct</a>