<!-- list News -->
@model List<News>
<div class="container row text-center">
    @foreach (var item in Model)
    {
        <div class="  col-md-4 pb-1 pb-md-0  ">
            <div class="card">
                <img class="card-img-top" src="~/images/@item.image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Content </p>
                    <a href="~/News/Edit/@item.Id" class="btn btn-primary">Edit</a>
                    <a class="btn btn-primary" href="~/News/Delete/@item.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
